<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='zackcarplay.css') }}">
  <title>ZackCarPlay</title>
</head>

<body>
  <div id="mainDisplay">
    <div id="apps">
      <div class="app" id="exit" onclick="window.location.href='/zackcarplay'">
        <img src="/static/images/exit.png" alt="Exit">
        <h4>Exit</h4>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='control.js') }}"></script>
</body>

</html>