<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='zackcarplay.css') }}">
  <title>ZackCarPlay</title>
</head>

<body>
  <div id="mainDisplay">
    <div id="apps">
      <div class="app" id="shutdown" onclick="if (confirm('Are you sure you want to shutdown?')) { window.location.href='/shutdown'; }">
        <img src="/static/images/shutdown.png" alt="Shutdown">
        <h4>Shutdown</h4>
      </div>
      <div class="app" id="exit" onclick="window.location.href='/'">
        <img src="/static/images/exit.png" alt="Exit">
        <h4>Exit</h4>
      </div>
      <div class="app" id="settings" onclick="window.location.href='/settings'">
        <img src="/static/images/settings.png" alt="Settings">
        <h4>Settings</h4>
      </div>
      <div class="app" id="gps">
        <img src="/static/images/gps.png" alt="GPS">
        <h4>GPS</h4>
      </div>
      <div class="app" id="control" onclick="window.location.href='/control'">
        <img src="/static/images/control.png" alt="Music">
        <h4>Control</h4>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='zackcarplay.js') }}"></script>
</body>

</html>