<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='control.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/tsparticles@2.9.3/tsparticles.bundle.min.js"></script>
  <title>ZackCarPlay</title>
</head>

<body>
  <div id="tsparticles"></div>
  <div id="mainDisplay">
    <div id="topBar">
      <div id="topBarElements">
        <span id="time">now</span>
        <span id="date">today</span>
        <span id="network">🛜</span>
        <img id="charging" src="../static/images/thunder.svg" alt="charging icon">
        <img id="battery" src="../static/images/battery-half-solid-full.svg" alt="battery">
        <img src="../static/images/fullscreen.png" alt="fullscreen" id="fullscreenbutton">
      </div>
    </div>
    <div id="settings_popup">
      <p id="hide-settings-popup" onclick="hide_popup(settings_popup);"><- return</p>
          <h3 id="settings-title">Settings</h3>
          <div id="settings-button-list">
            <button class="settings-button" onclick="
  add_shortcut(
    prompt('name'),
    prompt('action (separate by , without space)')
      .split(',')
      .map(s => s.trim().toLowerCase())
  )
">Add shortcut</button>
            <button class="settings-button" onclick="window.location.href='/modifyicon'">Modify icon</button>
            <button class="settings-button"
              onclick="confirm('Sure ?') ? remove_shortcut(prompt('name (say bye bye to your shortcut)')) : alert('Shortcut not removed')">Remove
              shortcut</button>
          </div>
          <ul id="shortcuts-list"></ul>
    </div>
    <div id="apps">
      <div class="app" id="shutdown"
        onclick="if (confirm('Are you sure you want to shutdown?')) { window.location.href='/shutdown'; }">
        <img src="/static/images/shutdown.png" alt="Shutdown">
        <h4>Shutdown</h4>
      </div>
      <div class="app" id="exit" onclick="window.location.href='/'">
        <img src="/static/images/exit.png" alt="Exit">
        <h4>Exit</h4>
      </div>
      <div class="app" id="settings" onclick="show_popup(settings_popup);">
        <img src="/static/images/settings.png" alt="Settings">
        <h4>Settings</h4>
      </div>
      <div class="app" id="control" onclick="window.location.href='/control'">
        <img src="/static/images/control.png" alt="Music">
        <h4>Control</h4>
      </div>
    </div>
  </div>
  <script defer src="{{ url_for('static', filename='control_menu.js') }}"></script>
  <script src="{{ url_for('static', filename='tsparticles.js')}}"></script>
  <script src="{{ url_for('static', filename='popup.js')}}"></script>
  <script src="{{ url_for('static', filename='settings.js')}}"></script>
</body>

</html>