<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='control.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2.9.3/tsparticles.bundle.min.js"></script>
    <title>ZackCarPlay</title>
  </head>

  <body>
    <div id="tsparticles"></div>
    <div id="mainDisplay">
      <div id="topBar">
        <div id="topBarElements">
          <span data-i18n="now" id="time">now</span>
          <span data-i18n="today" id="date">today</span>
          <span id="network">🛜</span>
          <img
            id="charging"
            src="../static/images/thunder.svg"
            alt="charging icon"
          />
          <img
            id="battery"
            src="../static/images/battery-half-solid-full.svg"
            alt="battery"
          />
          <img
            src="../static/images/fullscreen.png"
            alt="fullscreen"
            id="fullscreenbutton"
          />
        </div>
      </div>
      <div id="settings_popup">
        <p
          data-i18n="return"
          id="hide-settings-popup"
          onclick="hide_popup(settings_popup);"
        >
          <- return
        </p>
        <h3 data-i18n="settings" id="settings-title">Settings</h3>
        <div id="settings-button-list">
          <button
            data-i18n="add-shortcut"
            class="settings-button"
            onclick="
  add_shortcut(
    prompt('name'),
    prompt('action (separate by , without space)')
      .split(',')
      .map(s => s.trim().toLowerCase())
  )
"
          >
            Add shortcut
          </button>
          <button
            data-i18n="edit-shortcut-icon"
            class="settings-button"
            onclick="window.location.href='/modifyicon'"
          >
            Modify icon
          </button>
          <button
            data-i18n="delete-shortcut"
            class="settings-button"
            onclick="confirm('Sure ?') ? remove_shortcut(prompt('name (say bye bye to your shortcut)')) : alert('Shortcut not removed')"
          >
            Remove shortcut
          </button>
        </div>
        <ul id="shortcuts-list"></ul>
      </div>
      <div id="apps">
        <div class="app" id="shutdown" onclick="shutdownConfirm()">
          <img src="/static/images/shutdown.png" alt="Shutdown" />
          <h4 data-i18n="shutdown">Shutdown</h4>
        </div>
        <div class="app" id="exit" onclick="window.location.href='/'">
          <img src="/static/images/exit.png" alt="Exit" />
          <h4 data-i18n="exit">Exit</h4>
        </div>
        <div class="app" id="settings" onclick="show_popup(settings_popup);">
          <img src="/static/images/settings.png" alt="Settings" />
          <h4 data-i18n="settings">Settings</h4>
        </div>
        <div class="app" id="control" onclick="window.location.href='/control'">
          <img src="/static/images/control.png" alt="Music" />
          <h4 data-i18n="control">Control</h4>
        </div>
      </div>
    </div>
    <script
      defer
      src="{{ url_for('static', filename='control_menu.js') }}"
    ></script>
    <script src="{{ url_for('static', filename='tsparticles.js')}}"></script>
    <script src="{{ url_for('static', filename='popup.js')}}"></script>
    <script src="{{ url_for('static', filename='settings.js')}}"></script>
    <script
      src="{{ url_for('static', filename='lang.js')}}"
      type="module"
    ></script>
  </body>
</html>
