<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@2.9.3/tsparticles.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='control.css') }}"
    />
    <title>ZackCarPlay</title>
  </head>

  <body>
    <div id="mainDisplay">
      <div id="topBar">
        <div id="topBarElements">
          <span id="time">now</span>
          <span id="date">today</span>
          <span id="network">🛜</span>
          <img
            id="charging"
            src="../static/images/thunder.svg"
            alt="charging icon"
          />
          <img
            id="battery"
            src="../static/images/battery-half-solid-full.svg"
            alt="battery"
          />
          <img
            src="../static/images/fullscreen.png"
            alt="fullscreen"
            id="fullscreenbutton"
          />
        </div>
      </div>
      <div id="apps">
        <div
          class="app"
          id="exit"
          onclick="window.location.href='/control_menu'"
        >
          <img src="/static/images/exit.png" alt="Exit" />
          <h4 data-i18n="exit">Exit</h4>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='control.js') }}"></script>
    <script src="{{ url_for('static', filename='lang.js')}}"></script>
  </body>
</html>
