<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='settings.css')}}">
  <title>Settings</title>
</head>
<body>
  <button onclick="window.location.href='/zackcarplay'">Back to ZackCarPlay</button>
  <h1>Settings</h1>
  <button onclick="
  add_shortcut(
    prompt('name'),
    prompt('action (separate by , without space)')
      .split(',')
      .map(s => s.trim().toLowerCase())
  )
">Add shortcut</button>
  <button onclick="window.location.href='/modifyicon'">Modify icon</button>
  <button onclick="confirm('Sure ?') ? remove_shortcut(prompt('name (say bye bye to your shortcut)')) : alert('Shortcut not removed')">Remove shortcut</button>

  <ul></ul>
    <script src="{{ url_for('static', filename='settings.js') }}"></script>
</body>
</html>